source https://api.nuget.org/v3/index.json
redirects: force

nuget FSharp.Core
nuget CassandraCSharpDriver 3.3.2
nuget FSharp.Data 2.4.2
nuget Microsoft.NET.Test.Sdk 15.3.0-preview-20170628-02
nuget xunit 2.2.0
nuget xunit.runner.visualstudio 2.2.0

nuget FSharp.Compiler.Service
nuget FSharp.Compiler.Tools
